@model IEnumerable<Collective.Models.NewsItem>
@using Microsoft.AspNetCore.Identity
@using System.Linq
@using Microsoft.EntityFrameworkCore



@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> signInManager


@if (signInManager.IsSignedIn(User) && Model.Count() > 0)
{
    <h1>Welcome Back!</h1>
    <hr />

    <div class=" mt-5">
        @foreach (var item in Model)
        {
            if (item.MemoryBody != null)
            {
                <div class="card mb-2">
                    <h5 class="card-header bg-info text-white text-sm-left"><span class="font-weight-bold">@item.ApplicationUser.UserName</span> added a Memory to @item.Record.Title<a style="float:right;" class="btn btn-sm btn-secondary text-white">View User Profile</a></h5>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p style="margin:0;" class="card-text">@item.MemoryBody</p>
                    </div>
                </div>
            }
            else
            {
                @if (item.TopFive == true)
                {
                    <div class="card mb-2">
                        <h5 class="card-header bg-primary text-secondary"><span class="font-weight-bold">@item.ApplicationUser.UserName</span> added a Record to their Top Five<a style="float:right;" class="btn btn-sm btn-secondary text-white">View User Profile</a></h5>
                        <div class="card-body">
                            <img style="height:100px;margin:0;" src="@Url.Content(item.Record.Cover_Image)" alt="album cover" />
                            <h5 class="card-title">@item.Record.Title</h5>
                            <small class="text-muted"> Condition: @item.Record.Condition</small>
                        </div>
                    </div>
                }
                else if (item.NeedList == true)
                {
                    <div class="card mb-2">
                        <h5 class="card-header bg-primary text-secondary"><span class="font-weight-bold">@item.ApplicationUser.UserName</span> added a Record to their Need List<a style="float:right;" class="btn btn-sm btn-secondary text-white">View User Profile</a></h5>
                        <div class="card-body">
                            <img style="height:100px;margin:0;" src="@Url.Content(item.Record.Cover_Image)" alt="album cover" />
                            <h5 class="card-title">@item.Record.Title</h5>
                            <small class="text-muted"> Condition: @item.Record.Condition</small>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card mb-2">
                        <h5 class="card-header bg-primary text-secondary"><span class="font-weight-bold">@item.ApplicationUser.UserName</span> added a Record to their Milk Crate<a style="float:right;" class="btn btn-sm btn-secondary text-white">View User Profile</a></h5>
                        <div class="card-body">
                            <img style="height:100px;margin:0;" src="@Url.Content(item.Record.Cover_Image)" alt="album cover" />
                            <h5 class="card-title">@item.Record.Title</h5>
                            <small class="text-muted"> Condition: @item.Record.Condition</small>
                        </div>
                    </div>
                }
            }
        }
    </div>
}
else
{
    <h1>Welcome!</h1>
    <h4>To view homepage login or register and make some friends!</h4>
    <a>Login</a>
    <br />
    <a>Register</a>
}

