@model Collective.Models.ApplicationUser

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

@*<div>
    <h4>DiscogsMasterSearch</h4>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            @if (Model.ImageUrl != null)
            {
                <img class="col-sm-10 mb-5 small" src="@Url.Content(Model.ImageUrl)" alt="Album Thumb" />
                <h4 class="col-sm-8">Tracklist:</h4>
                <ol>
                    @foreach (var track in Model.Tracklist)
                    {
                        <li>@Html.DisplayFor(Tracklist => track.Title) - @Html.DisplayFor(Tracklist => track.Duration)</li>
                    }
                </ol>

            }
        </div>
        <dl class="col">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artists)
            </dt>
            <dd class="col-sm-10">
                @foreach (var artist in Model.Artists)
                {
                    @Html.DisplayFor(Artist => artist.Name)
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Num_For_Sale)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Num_For_Sale)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Main_Release_Url)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Main_Release_Url)
            </dd>
            @if (Model.Notes != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            }
        </dl>*@
        @*add buttons for adding to different lists/removing*@
    @*</div>
</div>
<div class="mt-5">
    <a class="col-sm" asp-controller="Search" asp-action="Index">Back to Search</a>
</div>*@