@model Collective.Models.ProfileViewModel.ProfileViewModel

@using NuGet.Frameworks

@{
    ViewData["Title"] = "Profile";
}

<div>
    <div class="row">
        <div class="col-sm-5">
            @if (Model.User.UserImgPath != null)
            {
                <img class="col-sm-10 mb-5 small" src="@Url.Content(Model.User.UserImgPath)" alt="User Profile Image" />
                @*<h4 class="col-sm-8">Tracklist:</h4>
                    <ol>
                        @foreach (var track in Model.Tracklist)
                        {
                            <li>@Html.DisplayFor(Tracklist => track.Title) - @Html.DisplayFor(Tracklist => track.Duration)</li>
                        }
                    </ol>*@

            }
            else
            {

                <div style="text-align:center" class="col-sm-10 mb-5 small">
                    <i class="far fa-user fa-10x"></i>
                    <h5>No Profile Image</h5>

                    <form asp-controller="Home" asp-action="UploadImage" asp-route-id="@Model.User.Id" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="submit" value="Upload" class="btn btn-secondary btn-sm" />
                            </div>
                            <div class="custom-file">
                                <input type="file" name="file" id="file" accept=".jpg,.jpeg,.png" class="custom-file-input" />
                                <label style="text-align:left" class="custom-file-label">Choose File</label>
                            </div>
                        </div>
                    </form>
                </div>
            }

            <dl>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.User.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.User.Bio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Bio)
                </dd>
                <div class="col-sm-10">
                    <a asp-controller="Collection" asp-action="Index">My Collection (@Model.Collection.Count())</a>
                </div>
                @*<dd class="col-sm-10">
                        @foreach (var artist in Model.Collection.TopFive)
                        {
                            @Html.DisplayFor(Artist => artist.Name)
                        }
                    </dd>*@
                @*@if (Model.Notes != null)
                    {
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Notes)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Notes)
                        </dd>
                    }*@
            </dl>
        </div>
        @*add buttons for adding to different lists/removing*@
    </div>
</div>