@model Collective.Models.ProfileViewModel.ProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-sm-5">
            @if (Model.User.UserImgPath != null)
            {
                <img class="col-sm-10 mb-5 small" src="@Url.Content(Model.User.UserImgPath)" alt="User Profile Image" />
                @*<h4 class="col-sm-8">Tracklist:</h4>
            <ol>
                @foreach (var track in Model.Tracklist)
                {
                    <li>@Html.DisplayFor(Tracklist => track.Title) - @Html.DisplayFor(Tracklist => track.Duration)</li>
                }
            </ol>*@

            }

            <dl>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.User.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.UserName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.User.Bio)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Bio)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Collection)
                </dt>
                @*<dd class="col-sm-10">
                @foreach (var artist in Model.Collection.TopFive)
                {
                    @Html.DisplayFor(Artist => artist.Name)
                }
            </dd>*@
                @*@if (Model.Notes != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            }*@
            </dl>
        </div>
        @*add buttons for adding to different lists/removing*@
    </div>
</div>