@model Collective.Models.ProfileViewModel.ProfileViewModel
@using Collective.Data
@using Microsoft.AspNetCore.Identity
@using System.Linq
@using Collective.Models
@using Microsoft.EntityFrameworkCore
@using Collective.Controllers

@inject ApplicationDbContext _context
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.User.UserName</h2>

<hr />
<div>
    <div class="row">
        <div class="col">
            @if (Model.User.UserImgPath != null)
            {
                <div style="width:200px;height:200px;position:relative;overflow:hidden;border-radius:50%;margin:auto;">
                    <img style="display:inline;margin:0,auto;margin-left:-25%;height:100%;width:auto;" src="@Url.Content(Model.User.UserImgPath)" alt="User Profile Image" />
                </div>

                @using (Html.BeginForm("RemoveImage", "Home", FormMethod.Post))
                {
                    <div style="text-align:center;" class="col-sm-12 mt-1 mb-5">
                        <form asp-controller="Home" asp-action="RemoveImage">
                            <input type="submit" value="Remove" class="btn btn-danger btn-sm" />
                        </form>
                    </div>
                }
            }
            else
            {
                <div style="text-align:center" class="col-sm-8 mb-5 small">
                    <i class="far fa-user fa-10x"></i>
                    <h5>No Profile Image</h5>
                    @using (Html.BeginForm("ImageUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <form asp-controller="Home" asp-action="ImageUpload">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <input type="submit" value="Upload" class="btn btn-primary btn-sm" />
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="file" id="file" accept=".jpg,.jpeg,.png" class="custom-file-input text-dark" />
                                    <label style="text-align:left" class="custom-file-label"></label>
                                </div>
                            </div>

                        </form>
                    }
                </div>
            }
            <dl>
                @if (Model.User.Bio != null)
                {
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.User.Bio)
                    </dt>
                    <dd class="col-sm-10 mb-2">
                        @Html.DisplayFor(model => model.User.Bio)
                    </dd>
                    <div class="col-sm-5">
                        @using (Html.BeginForm("RemoveBio", "Home", FormMethod.Post))
                        {
                            <form asp-controller="Home" asp-action="RemoveBio">
                                <input type="submit" value="Remove" class="btn btn-danger btn-sm" />
                            </form>
                        }
                    </div>

                }
                else
                {
                    <div class="col-sm-8">
                        @using (Html.BeginForm("AddBio", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <form asp-controller="Home" asp-action="AddBio">
                                <div class="form-group">
                                    <label asp-for="User.Bio" style="font-weight:700" class="control-label">Add An About Me!</label>
                                    <textarea asp-for="User.Bio" name="BioString" id="BioString" style="resize:none;height:100px;" class="form-control" placeholder="How'd you get here??"></textarea>
                                    <input type="submit" value="Add Bio" class="btn btn-primary btn-sm mt-1" />
                                </div>
                            </form>
                        }
                    </div>
                }
            </dl>
            <div class="col-sm-10 mt-5">
                <a style="font-size:2rem;" asp-controller="Collections" asp-action="Index">Milk Crate (@Model.Collection.Count())</a>
            </div>

        </div>
        <div class="col">
            <table class="table">
                @{
                    var top5 = @Model.Collection
                        .Where(col => col.TopFive == true)
                        .ToList();
                    var top5Count = top5.Count();
                }
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>
                        </th>
                    <tr />
                </thead>
                <h2>Top Five</h2>
                <tbody>
                    @foreach (var item in top5)
                    {
                        <tr>
                            <td>
                                <div style="text-align:center;width:80%;">
                                    <img style="height:150px" src="@Url.Content(item.Record.Cover_Image)" alt="album cover" /><br />
                                    @Html.DisplayFor(modelItem => item.Record.Title)<br />
                                </div>
                            </td>
                            <td>
                                <div role="group" class="btn-group-vertical btn-group-sm">
                                    <a class="btn btn-danger" asp-controller="Collections" asp-action="RemoveTopFive" asp-route-id="@item.Id">Remove</a>
                                    <a class="btn btn-primary" asp-controller="Collections" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>