@model IEnumerable<Collective.Models.Record>

@{
    ViewData["Title"] = "Search";
}

<h1>Quick Find</h1>
<div>
    <form style="float:right" class="form-inline mb-5" asp-controller="Search" asp-action="Index">
        <input style="width:500px;" class="form-control mr-4" type="search" name="SearchString" placeholder="search title, artist, category number, etc...">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Catno)
            </th>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Catno)
                    </td>
                    <td>
                        @if (item.Thumb != null)
                        {
                            <img src="@Url.Content(item.Thumb)" alt="Album Thumb" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td style="text-align:center">
                        <a asp-controller="Search" asp-action="Details" asp-route-masterUrl="@Url.Content(item.Master_Url)" asp-route-imageUrl="@Url.Content(item.Cover_Image)">View Album</a>
                    </td>
                    <td>
                        <a asp-action="Add" asp-route-id="@item.Master_Id" asp-route-title="@item.Title">Add</a>
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
