@model IEnumerable<Collective.Models.Collection>

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.FirstOrDefault().ApplicationUser.UserName's Collection</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record.Master_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Catno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Thumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Cover_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record.Master_Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Master_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Catno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Thumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Cover_Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Record.Master_Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
