@model IEnumerable<Collective.Models.Collection>
@using Microsoft.AspNetCore.Identity
@using Collective.Data
@using System.Linq
@using Microsoft.EntityFrameworkCore

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "PublicCollection";
}

@{
    var top5Count = Model.Where(col => col.TopFive == true).ToList().Count();
}

@if (Model.Count() > 0)
{
    @if (signInManager.IsSignedIn(User))
    {
        var username = Model.FirstOrDefault().ApplicationUser.UserName;
        <h1>@username's Milk Crate</h1>
        @if (ViewBag.TopFive == false)
        {
            @Html.ActionLink("View User's Top Five", "PublicCollection", new { topFive = true });
        }
        else
        {
            @Html.ActionLink("Back to Collection", "PublicCollection", new { topFive = false });
        }
    }


    <table class="table">
        <thead>
            <tr>
                <th>
                    Master Release Id
                </th>
                <th>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Record.Condition)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Record.Master_Id)
                    </td>
                    <td>
                        <img style="height:150px" src="@Url.Content(item.Record.Cover_Image)" alt="album cover" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Record.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Record.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Record.Condition)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a><br />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <h3>Unfortunately, this user hasn't picked any top Records yet.</h3>
        <a asp-controller="Search" asp-action="Index">Let's get out of here!</a>
    </div>
}
